{% load static %}
<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/font-awesome.min.css' %}">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/elegant-fonts.css' %}">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/themify-icons.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">

    <style>
        {% block style %}
        {% endblock style %}
        .my_hide{
            display: none;
        }

    </style>

</head>
<body class="courses-page">
    <div class="page-header">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i><a href="{% url 'index' %}">www.math110.com</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center" style="margin-top: 8px">
                                <p><i class="fa fa-phone"></i > 0535-6715536</p>
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form action="" class="flex align-items-stretch"  method="post">
                                    {% csrf_token %}
                                    <input type="search" placeholder="你想要学习什么?" name="want_to_learn">
                                    <button type="submit"  class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <div id="personal" style="height: 53px;width: 100px">
                                        <div ><p style="color: #383749;height: 45px;text-align: center;margin-top: 15px;font-size: large;margin-bottom: 0">{{ user_obj}}</p></div>
                                            <div class="my_hide" id="personal_nav" style="background-color: rgba(255,255,255,.5);margin-top: 0;border-radius: 3px">
                                                <p style="text-align: center;font-size: large "><a  href="{% url 'add_stu_info' %}" style="color: #0f0f0f">学生注册</a></p>
                                                <p style="text-align: center;font-size: large"><a  href="{% url 'add_tea_info' %}" style="color: #0f0f0f">教师注册</a></p>
                                                <p style="text-align: center;font-size: large"><a  href="{% url 'mycourse' %}" style="color: #0f0f0f">我的课程</a></p>
                                                <p style="text-align: center;font-size: large"><a  href="#" style="color: #0f0f0f">我的班级</a></p>
                                                <p style="text-align: center;font-size: large"><a  href="{% url 'login' %}" style="color: #0f0f0f">切换用户</a></p>
                                            </div>
                                    </div>
{#                                    <li><a href="#" style="padding-top:5px">注册</a></li>#}
{#                                    <li><a href="#" style="padding-top:5px">登陆</a></li>#}
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title" style="padding-top: 16px"><a href="" rel="home">数学<span>帮</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li class="current-menu-item"><a href="{% url 'home' %}">主页</a></li>
                                    <li><a href="{% url 'about' %}">介绍</a></li>
                                    <li><a href="{% url 'allcourse' %}">课程</a></li>
                                    <li><a href="{% url 'choise_course' %}">选课</a></li>
                                    <li><a href="#">联系</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                                <div class="header-bar-cart">
                                    <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                                </div><!-- .header-bar-search -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container" style="position: relative;top: -50px">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>在线课程与学习资源</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    {% block content %}
    {% endblock content %}

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <a class="foot-logo" href="#"><img src="{% static 'dist/images/foot-logo.png' %}" alt=""></a>

                            <p>烟台康迈软件科技有限公司, 公司主要从事高等教育在线教学系统、基于互联网+的社区/社群建设。</p>
                            <p style="margin-top: 0">课程教学平台    大学教材课件   考研真题   专业考研  数学分析   高等代数  </p>

<!--                            <p class="footer-copyright">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://www.aspku.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact Us</h2>

                            <ul>
                                <li>莱山区迎春大街125号创业就业服务中心6楼</li>
                                <li>烟台,中国</li>
                                <li>电话: 0535-6715536</li>
                            </ul>
                        </div><!-- .foot-contact -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="quick-links flex flex-wrap">
                            <h2 class="w-100">Quick Links</h2>

                            <ul class="w-50">
                                <li><a href="#">About </a></li>
                                <li><a href="#">Terms of Use </a></li>
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>

                            <ul class="w-50">
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Forums</a></li>
                                <li><a href="#">Language Packs</a></li>
                                <li><a href="#">Release Status</a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="follow-us">
                            <h2>Follow Us</h2>

                            <ul class="follow-us flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                            <a href="#"><img src="{% static 'dist/images/app-store.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'dist/images/play-store.png' %}" alt=""></a>
                        </div><!-- .download-apps -->

                    </div>

                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <div class="footer-bar-nav">
                            <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                <li><a href="#">DPA</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div><!-- .footer-bar-nav -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
</footer><!-- .site-footer -->
    <script type='text/javascript' src='{% static 'jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'dist/js/jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'dist/js/swiper.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'dist/js/masonry.pkgd.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'dist/js/jquery.collapsible.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'dist/js/custom.js' %}'></script>
    {% block script %}

    {% endblock script %}
    <script>
        $('#personal').hover(function () {
            $('#personal_nav').removeClass('my_hide')
        })
        $('#personal').mouseleave(function () {
            $('#personal_nav').addClass('my_hide')
        })
    </script>

</body>
</html>